.DarkMode {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30px;
  right: 50px;
  cursor: pointer;
  z-index: 1;
  img {
    height: 50px;
    width: 50px;
  }
}