@import '../../scss/_colors';
@import '../../scss/mixins/mixins';

.Input {
  height: 45px;
  border: 1px solid $light-grey;
  border-radius: 2px;
  padding: 10px 15px;
  font-weight: 400;
  @include calculateRem(16);
  &:hover,
  &:focus {
    outline: none;
  }
    @include placeholder{
      font-weight: 400;
      color: $grey;
  }
}
